@page
@model MyApp.Namespace.ListModel
@{
}
<div class="textcenter">
<h2>Cliente</h2>
</div>
<table style="width:100%">
  <tr>
    <th>Id</th>  
    <th>Nombre</th>
    <th>Edad</th>     
  </tr>
  @foreach (var cliente in Model.Clientes)
  {
      <tr>
            <td>@cliente.Id</td>
            <td>@cliente.Nombre</td>
            <td>@cliente.Edad</td>            
            <td><a class="btn btn-dark" asp-page="./Details" asp-route-id="@cliente.Id">Detalle</a></td>
                <i class="fas fa-info-circle"></i>
            <td><a class="btn btn-dark" asp-page="./Edit" asp-route-id="@cliente.Id">Editar</a></td>
                <i class="fas fa-trash-alt"></i>
            <td><a class="btn btn-dark" asp-page="./Delete" asp-route-id="@cliente.Id">Eliminar</a></td>

            @* <td><a href="http://www.google.com" target="_blank">google</a></td> *@
    </tr>

  }

</table>

