@page
@model MyApp.Namespace.ListDirectivoModel
@{
}
<div class="textcenter">
<h2>Directivo</h2>
<a class="btn btn-dark" asp-page="./CreateDirectivo"><i class="fas fa-user-plus"></i></a>

</div>
<table style="width:100%">
  <tr>
    <th>Id</th>  
    <th>Nombre</th>
    <th>Edad</th>     
  </tr>
  @foreach (var directivo in Model.Directivos)
  {
    <tr>
            <td>@directivo.Id</td>
            <td>@directivo.Nombre</td>
            <td>@directivo.Edad</td>   
            <td><a class="btn btn-dark" asp-page="./DetailsDirectivo" asp-route-id="@directivo.Id"><i class="fas fa-info"></i></a></td>                
                
            <td><a class="btn btn-dark" asp-page="./EditDirectivo" asp-route-id="@directivo.Id"><i class="fas fa-edit"></i></a></td>
                
            <td><a class="btn btn-dark" asp-page="./DeleteDirectivo" asp-route-id="@directivo.Id"><i class="fas fa-trash-alt"></i></a></td>
                
            @* <td><a href="http://www.google.com" target="_blank">google</a></td> *@
    </tr>

  }

</table>

